.focus-nav {
  color: #d9b68b;
  border-bottom: #2869d1 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .focus-nav {
    color: #2869d1;
    border-bottom: none;
    height: 47px;
  }
}

/* On screens that are from 600px to 740px wide */
@media screen and (max-width: 768px) and (min-width: 600px) {
  .focus-nav {
    color: #d9b68b;
    border-bottom: #2869d1 4px solid;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 10px;
    height: 47px;
  }
}

/* On screens that are from 768px to 1024px wide */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .focus-nav {
    color: #d9b68b;
    border-bottom: #2869d1 4px solid;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 10px;
    height: 47px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .focus-nav {
    color: #d9b68b;
    border-bottom: #2869d1 4px solid;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 10px;
    height: 47px;
  }
}

footer .wrapper {
  padding: 0;
  margin: 15vh auto 0 auto;
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .wrapper li {
  list-style-type: none;
  margin: 0 2vw;
}

footer .wrapper li a {
  color: #787575;
  font-size: 0.83333rem;
  text-decoration: none;
}

*,
html {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

* body,
html body {
  background-color: #010f21;
  /* On mouse-over, add a deeper shadow */
}

* body header,
html body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header #div-logo,
html body header #div-logo {
  margin: 1vh 3vw;
}

* body header #div-logo #logo,
html body header #div-logo #logo {
  width: 6vw;
  height: auto;
  margin: 3vh 0 5vh 0;
}

* body header nav,
html body header nav {
  width: 60vw;
}

* body header nav ul,
html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav ul li,
html body header nav ul li {
  list-style-type: none;
}

* body header nav ul li a,
html body header nav ul li a {
  text-decoration: none;
  height: 50px;
}

* body header nav ul li a:hover,
html body header nav ul li a:hover {
  border-bottom: #2869d1 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

* body header nav ul li a:active,
html body header nav ul li a:active {
  border-bottom: #d9b68b 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

* body header #div-logout #logout,
html body header #div-logout #logout {
  width: 35px;
  margin: 0 5vw 0 0;
}

* body #main-div,
html body #main-div {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 2vh 1vw;
  grid-auto-rows: minmax(10px, auto);
  margin: 0;
  margin-bottom: 5vh;
}

* body #main-div .card,
html body #main-div .card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 15vw;
  background-color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Add some padding inside the card container */
}

* body #main-div .card .div-img,
html body #main-div .card .div-img {
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #main-div .card #card-img,
html body #main-div .card #card-img {
  width: 15vw;
}

* body #main-div .card .container,
html body #main-div .card .container {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #main-div .card .container h4,
html body #main-div .card .container h4 {
  margin: 0;
  margin-bottom: 2vh;
}

* body #main-div .card .container h4 b,
html body #main-div .card .container h4 b {
  font-size: 0.83333rem;
}

* body #main-div .card .container form,
html body #main-div .card .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1vh;
}

* body #main-div .card .container form #seemore-btn,
html body #main-div .card .container form #seemore-btn {
  background-color: #158bbf;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 3.25vh;
  width: 5.21739vw;
  margin: 1vh 1vw 0 1vw;
  cursor: pointer;
}

* body #main-div .card .container form a,
html body #main-div .card .container form a {
  text-decoration: none;
}

* body .card:hover,
html body .card:hover {
  -webkit-box-shadow: 0 2px 16px 0 #2869d1;
          box-shadow: 0 2px 16px 0 #2869d1;
}
/*# sourceMappingURL=UserMovieList.css.map */