// html variables
$background-color:#010F21;
$button-color:#2869D1;
$cookie-color:#158BBF;
$selected-color:#D9B68B;
$disabled-color:#b3b1b1;
$border-radius: 4px;
$border-test:2px solid;

// logo variables
$logo-width: 18vw;
$logo-height: auto;

// logout logo variables
$logout-width: 35px;
$logout-height: auto;

// typo variables
$font-color:#FFFFFF;
$font-size: 1rem;

// input variables
$input-bg-color:#FFFFFF;
$input-ft-color:#000000;
$input-height: 6.5vh;
$input-width: 25vw;
$input-padding: 0.5vh 1vw;
$input-margin: 1vh 0vw;

// button variables
$button-padding: 1vh 0vw;
$button-margin: 3vh 1vw 0 1vw;
$button-height: 8vh;
$button-width: 12vw;

// form variables
$form-margin: 1vh 0vw;
$form-padding: 0.5vh 1vw;
$form-with: 60vw;

// footer variables
$footer-font: #787575;
$footer-ul-width: 35vw;
$footer-ul-padding: 0;

