// Utilities
@import '../../Styles/variables';
@import '../../Styles/footer';

*, html {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    font-size: $font-size;
    body{
        background-color: $background-color;
        // Header section
        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: auto;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    margin: 0 50px;
                }
            }
            nav{
                width: 60vw;
                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            height:50px;
                        }
                        a:hover{
                            border-bottom: $button-color 4px solid;
                            border-radius: $border-radius;
                            box-sizing: border-box;
                            padding-bottom: 10px;
                            height: 47px;
                        }
                        a:active{
                            border-bottom: $selected-color 4px solid;
                            border-radius: $border-radius;
                            box-sizing: border-box;
                            padding-bottom: 10px;
                            height: 47px;
                        }
                    }
                }
                
            }


            }

            #div-logout{

                #logout{
                    width: $logout-width;
                    margin: 0 5vw 0 0;
                }
            }
        }
        main{
            display: flex;
            justify-content: space-between;
            padding: 5vh;
        }
    }


