// Utilities
@import '../../Styles/variables';
@import '../../Styles/footer';

*, html {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    font-size: $font-size;

    #div-logo{
        text-align: center;
    
        #logo{
            width: $logo-width;
            height: $logo-height;
            margin: 3vh auto 5vh auto;
        }
    }

    form{
        text-align: center;
        #username{
            background-color: $input-bg-color;
            color: $input-ft-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $input-width; 
            padding: $input-padding;
            margin: $input-margin;
        }
        #password{
            background-color: $input-bg-color;
            color: $input-ft-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $input-width; 
            padding: $input-padding;
            margin: $input-margin;
        }
        
        button{
            background-color: $button-color;
            color: $font-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $button-width; 
            padding: $button-padding;
            margin: $button-margin;
        }
        button:hover{
            cursor: pointer;
            background-color: $selected-color;

        }
    }
    .connect-subscribe{
        text-align: center;
        font-size: $font-size/1.2;
        a{
            font-size: $font-size/1.2;
        }
    }
}

