$background-color:#010F21;
$button-color:#2869D1;
$cookie-color:#158BBF;
$selected-color:#D9B68B;
$font-color:#FFFFFF;
$input-bg-color:#FFFFFF;
$input-ft-color:#000000;
$input-height: 6.5vh;
$input-width: 25vw;
$border-radius: 2px;
$input-padding: 0.5vh 1vw;
$input-margin: 1vh 0vw;
$font-size: 1rem;
$button-padding: 1vh 0vw;
$button-margin: 3vh 1vw 0 0;
$button-height: 8vh;
$button-width: 12vw;
$form-margin: 1vh 0vw;
$form-padding: 0.5vh 1vw;
$footer-font: #787575;
$footer-ul-width: 35vw;

*, html {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    font-size: $font-size;

    #div-logo{
        text-align: center;
    
        #logo{
            width: 250px;
            height: auto;
            margin: 3vh auto 5vh auto;
        }
    }

    form{
        text-align: center;
        #username{
            background-color: $input-bg-color;
            color: $input-ft-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $input-width; 
            padding: $input-padding;
            margin: $input-margin;
        }
        #password{
            background-color: $input-bg-color;
            color: $input-ft-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $input-width; 
            padding: $input-padding;
            margin: $input-margin;
        }
        
        button{
            background-color: $button-color;
            color: $font-color;
            outline: none;
            border: none;
            border-radius: $border-radius;
            height: $input-height;
            width: $button-width; 
            padding: $button-padding;
            margin: $button-margin;
        }
        button:hover{
            cursor: pointer;
            background-color: $selected-color;

        }
    }
    .connect-subscribe{
        text-align: center;
        font-size: $font-size/1.2;
        a{
            font-size: $font-size/1.2;
        }
    }

    footer{
        .wrapper {
            margin: 15vh auto 0 auto;
            width: $footer-ul-width;
            display: flex;
            justify-content: space-around;

            li{
                list-style-type: none;
                margin: 0 2vw;
                a{
                    color: $footer-font;
                    font-size: $font-size/1.2;
                    text-decoration: none;
                }
            }
        }
    }

}

