.focus-nav {
  color: #d9b68b;
  border-bottom: #2869d1 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

footer .wrapper {
  padding: 0;
  margin: 15vh auto 0 auto;
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .wrapper li {
  list-style-type: none;
  margin: 0 2vw;
}

footer .wrapper li a {
  color: #787575;
  font-size: 0.83333rem;
  text-decoration: none;
}

*, html {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

* body, html body {
  background-color: #010f21;
}

* body header, html body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header #div-logo, html body header #div-logo {
  margin: 1vh 3vw;
}

* body header #div-logo #logo, html body header #div-logo #logo {
  width: 6vw;
  height: auto;
  margin: 3vh 0 5vh 0;
}

* body header nav, html body header nav {
  width: 60vw;
}

* body header nav ul, html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav ul li, html body header nav ul li {
  list-style-type: none;
}

* body header nav ul li a, html body header nav ul li a {
  text-decoration: none;
  height: 50px;
}

* body header nav ul li a:hover, html body header nav ul li a:hover {
  border-bottom: #2869d1 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

* body header nav ul li a:active, html body header nav ul li a:active {
  border-bottom: #d9b68b 4px solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px;
}

* body header #div-logout #logout, html body header #div-logout #logout {
  width: 35px;
  margin: 0 5vw 0 0;
}

* body #main-div .movie, html body #main-div .movie {
  display: -ms-grid;
  display: grid;
  justify-items: start;
      grid-template-areas: "image image title . buttons" "image image plot plot plot" "image image comment comment comment" "image image year . duration" "image image casting . genre";
  grid-gap: 2vh 1vw;
  grid-auto-rows: minmax(10px, auto);
  margin: 3vh 5vw;
}

* body #main-div .movie .div-img, html body #main-div .movie .div-img {
  grid-area: image;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
}

* body #main-div .movie .div-img #card-img, html body #main-div .movie .div-img #card-img {
  width: 25vw;
}

* body #main-div .movie .div-title, html body #main-div .movie .div-title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  margin: 0 1vw;
  width: 25vw;
}

* body #main-div .movie .div-title h2 b, html body #main-div .movie .div-title h2 b {
  font-size: 2rem;
}

* body #main-div .movie .container, html body #main-div .movie .container {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20vw;
  padding: 1vh 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #main-div .movie .container .active.seen-img, html body #main-div .movie .container .active.seen-img {
  width: 3vw;
  cursor: pointer;
}

* body #main-div .movie .container .active.unseen-img, html body #main-div .movie .container .active.unseen-img {
  width: 3vw;
  cursor: pointer;
}

* body #main-div .movie .container #add-to-list-btn, html body #main-div .movie .container #add-to-list-btn {
  background-color: #158bbf;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 3.25vh;
  width: 5.21739vw;
  cursor: pointer;
}

* body #main-div .movie .container label input, html body #main-div .movie .container label input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

* body #main-div .movie .container label .submit-img, html body #main-div .movie .container label .submit-img {
  width: 1.5vw;
}

* body #main-div .movie .movie-plot, html body #main-div .movie .movie-plot {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: plot;
  margin: 0 1vw;
}

* body #main-div .movie .movie-plot p, html body #main-div .movie .movie-plot p {
  width: 60vw;
  text-align: justify;
}

* body #main-div .movie .movie-comment, html body #main-div .movie .movie-comment {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: comment;
  margin: 0 1vw;
}

* body #main-div .movie .movie-comment h3, html body #main-div .movie .movie-comment h3 {
  font-size: 1.3rem;
  margin: 0.5vh 0;
}

* body #main-div .movie .movie-comment form, html body #main-div .movie .movie-comment form {
  margin: 0vh 1vw 0vh 0vw;
  text-align: end;
}

* body #main-div .movie .movie-comment form textarea, html body #main-div .movie .movie-comment form textarea {
  border-radius: 4px;
  background: #010f21;
  -webkit-box-shadow: inset 14px 14px 28px #010914,  inset -14px -14px 28px #01152e;
          box-shadow: inset 14px 14px 28px #010914,  inset -14px -14px 28px #01152e;
  height: 13vh;
  width: 60vw;
  border: none;
  outline: none;
  padding: 1vh 1vw;
  margin: 0 0 3vh 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #158bbf;
}

* body #main-div .movie .movie-comment form #movie-comment-btn, html body #main-div .movie .movie-comment form #movie-comment-btn {
  background-color: #158bbf;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 6.5vh;
  width: 12vw;
  cursor: pointer;
}

* body #main-div .movie .movie-year, html body #main-div .movie .movie-year {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: year;
  margin: 0 1vw;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* body #main-div .movie .movie-year h3, html body #main-div .movie .movie-year h3 {
  font-size: 1.3rem;
}

* body #main-div .movie .movie-duration, html body #main-div .movie .movie-duration {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: duration;
  margin: 0 1vw;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* body #main-div .movie .movie-duration h3, html body #main-div .movie .movie-duration h3 {
  font-size: 1.3rem;
}

* body #main-div .movie .movie-casting, html body #main-div .movie .movie-casting {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: casting;
  margin: 0 1vw;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* body #main-div .movie .movie-casting h3, html body #main-div .movie .movie-casting h3 {
  font-size: 1.3rem;
}

* body #main-div .movie .movie-genre, html body #main-div .movie .movie-genre {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: genre;
  margin: 0 1vw;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* body #main-div .movie .movie-genre h3, html body #main-div .movie .movie-genre h3 {
  font-size: 1.3rem;
}

* body #main-div .movie .movie-p, html body #main-div .movie .movie-p {
  color: #158bbf;
  margin-left: 1vw;
}
/*# sourceMappingURL=MovieInfo.css.map */