// Utilities
// @use "../../Styles/variables" as var;
// @use "variables" as var;
// @use "/Realisations/Code/Views/Styles/variables" as var;
// html variables
$background-color:#010F21;
$button-color:#2869D1;
$cookie-color:#158BBF;
$selected-color:#D9B68B;
$border-radius: 2px;

// logo variables
$logo-width: 18vw;
$logo-height: auto;

// logout logo variables
$logout-width: 35px;
$logout-height: auto;

// typo variables
$font-color:#FFFFFF;
$font-size: 1rem;

// input variables
$input-bg-color:#FFFFFF;
$input-ft-color:#000000;
$input-height: 6.5vh;
$input-width: 25vw;
$input-padding: 0.5vh 1vw;
$input-margin: 1vh 0vw;

// button variables
$button-padding: 1vh 0vw;
$button-margin: 3vh 1vw 0 0;
$button-height: 8vh;
$button-width: 12vw;

// form variables
$form-margin: 1vh 0vw;
$form-padding: 0.5vh 1vw;
$form-with: 60vw;

// footer variables
$footer-font: #787575;
$footer-ul-width: 35vw;

*, html {

    color: $font-color;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    
    body{
        background-color: $background-color;
        // Header section
        header{
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;

            #div-logo{
                margin: 1vh 3vw;
        
            #logo{
                width: $logo-width/3;
                height: $logo-height;
                margin: 3vh 0 5vh 0;
                }
            }

            nav{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 60vw;

                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        height:50px;
                    }
                    a:hover{
                        border-bottom: $button-color 4px solid;
                        border-radius: 2px;
                        box-sizing: border-box;
                        padding-bottom: 10px;
                        height: 47px;
                    }
                    a:active{
                        border-bottom: $selected-color 4px solid;
                        border-radius: 2px;
                        box-sizing: border-box;
                        padding-bottom: 10px;
                        height: 47px;
                    }
                }
            }
            #div-logout{

                #logout{
                    width: $logout-width;
                    margin: 0 5vw 0 0;
                }
            }
        }

        // Main section
        main{

            // First form
            #first-form{
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2vh 1vw;
                
                grid-auto-rows: minmax(10px, auto);
                width: 60vw;
                margin: 0 auto;
        
                input{
                    background-color: $input-bg-color;
                    color: $input-ft-color;
                    outline: none;
                    border: none;
                    border-radius: $border-radius;
                    height: $input-height/1.4;
                    width: $input-width; 
                    padding: $input-padding;
                    margin: $input-margin;
                }
                #firstname {
                    grid-column: 1 / 1;
                    grid-row: 1;
                    background-color: #787575;
                }
                #lastname { 
                    grid-column: 2 / 2;
                    grid-row: 1;
                    background-color: #787575;

                }
                #email {
                    grid-column: 1 / 2;
                    grid-row: 2;
                }
                #dob {
                    grid-column: 2 / 3;
                    grid-row: 2;
                    background-color: #787575;

                }
                #username {
                    grid-column: 1 / 2;
                    grid-row: 3;
                    background-color: #787575;

                }
                #password {
                    grid-column: 2 / 3;
                    grid-row: 3;
                }
            }

            #second-form{
                // Second form
                /* The switch - the box around the slider */
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                }
                /* Hide default HTML checkbox */
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }


                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #787575;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                input:checked + .slider {
                    background-color: #2196F3;
                }
                
                input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
                
                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
                
                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                }
                
                #button{
                    background-color: $button-color;
                    color: $font-color;
                    outline: none;
                    border: none;
                    border-radius: $border-radius;
                    height: $input-height*1.5;
                    width: $button-width; 
                    padding: $button-padding;
                    margin: $button-margin;
                    margin-bottom: 10vh;
                    
                }
                
                #button:hover{
                    cursor: pointer;
                    background-color: $selected-color;
        
                }

                .cookie{
                    background-color: $cookie-color;
                    padding: 3vh 3vw;
                    margin: 1vh 2vw;
                    h5{
                    }
                    span{}
                    label{
                        input{}
                        span{}
                    }
                    
                }
            }
        }
    }
}


