.focus-nav {
  color: #d9b68b;
  border-bottom: #2869d1 4px solid;
  border-radius: 4px;
  box-sizing: border-box;
  padding-bottom: 10px;
  height: 47px; }

*,
html {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }
  * body,
  html body {
    background-color: #010f21; }
    * body header,
    html body header {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center; }
      * body header #div-logo,
      html body header #div-logo {
        margin: 1vh 3vw; }
        * body header #div-logo #logo,
        html body header #div-logo #logo {
          width: 6vw;
          height: auto;
          margin: 3vh 0 5vh 0; }
      * body header nav,
      html body header nav {
        width: 60vw; }
        * body header nav ul,
        html body header nav ul {
          display: flex;
          justify-content: space-around;
          align-items: center; }
          * body header nav ul li,
          html body header nav ul li {
            list-style-type: none; }
            * body header nav ul li a,
            html body header nav ul li a {
              text-decoration: none;
              height: 50px; }
            * body header nav ul li a:hover,
            html body header nav ul li a:hover {
              border-bottom: #2869d1 4px solid;
              border-radius: 4px;
              box-sizing: border-box;
              padding-bottom: 10px;
              height: 47px; }
            * body header nav ul li a:active,
            html body header nav ul li a:active {
              border-bottom: #d9b68b 4px solid;
              border-radius: 4px;
              box-sizing: border-box;
              padding-bottom: 10px;
              height: 47px; }
      * body header #div-logout #logout,
      html body header #div-logout #logout {
        width: 35px;
        margin: 0 5vw 0 0; }
    * body main #main-div h3,
    html body main #main-div h3 {
      margin-left: 20.5vw; }
    * body main #main-div #first-form,
    html body main #main-div #first-form {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2vh 1vw;
      grid-auto-rows: minmax(10px, auto);
      width: 60vw;
      margin: 0 auto; }
      * body main #main-div #first-form #button-info,
      html body main #main-div #first-form #button-info {
        background-color: #2869d1;
        color: #ffffff;
        outline: none;
        border: none;
        border-radius: 4px;
        height: 9.75vh;
        width: 12vw;
        padding: 1vh 0vw;
        margin: 1vh 1vw 0 1vw;
        margin-right: -14vw;
        margin-bottom: 10vh;
        grid-column: 2 / 3;
        grid-row: 5; }
      * body main #main-div #first-form #button-info:hover,
      html body main #main-div #first-form #button-info:hover {
        cursor: pointer;
        background-color: #d9b68b; }
      * body main #main-div #first-form input,
      html body main #main-div #first-form input {
        background-color: #ffffff;
        color: #000000;
        outline: none;
        border: none;
        border-radius: 4px;
        height: 4.64286vh;
        width: 25vw;
        padding: 0.5vh 1vw;
        margin: 1vh 0vw; }
      * body main #main-div #first-form #firstname,
      html body main #main-div #first-form #firstname {
        grid-column: 1 / 1;
        grid-row: 1;
        background-color: #b3b1b1; }
      * body main #main-div #first-form #lastname,
      html body main #main-div #first-form #lastname {
        grid-column: 2 / 2;
        grid-row: 1;
        background-color: #b3b1b1; }
      * body main #main-div #first-form #email,
      html body main #main-div #first-form #email {
        grid-column: 1 / 2;
        grid-row: 3; }
      * body main #main-div #first-form #dob,
      html body main #main-div #first-form #dob {
        grid-column: 2 / 3;
        grid-row: 2;
        background-color: #b3b1b1; }
      * body main #main-div #first-form #username,
      html body main #main-div #first-form #username {
        grid-column: 1 / 2;
        grid-row: 2;
        background-color: #b3b1b1; }
      * body main #main-div #first-form #password,
      html body main #main-div #first-form #password {
        grid-column: 2 / 3;
        grid-row: 3; }
      * body main #main-div #first-form #password2,
      html body main #main-div #first-form #password2 {
        grid-column: 2 / 3;
        grid-row: 4; }
    * body main #main-div #second-form,
    html body main #main-div #second-form {
      width: 60vw;
      margin: 0 auto;
      padding: 2vh auto; }
      * body main #main-div #second-form #button-param,
      html body main #main-div #second-form #button-param {
        background-color: #2869d1;
        color: #ffffff;
        outline: none;
        border: none;
        border-radius: 4px;
        height: 9.75vh;
        width: 12vw;
        padding: 1vh 0vw;
        margin: 1vh 1vw 0 1vw;
        margin-bottom: 10vh;
        float: right; }
      * body main #main-div #second-form #button-param:hover,
      html body main #main-div #second-form #button-param:hover {
        cursor: pointer;
        background-color: #d9b68b; }
      * body main #main-div #second-form .cookie,
      html body main #main-div #second-form .cookie {
        display: flex;
        align-items: center;
        background-color: #158bbf;
        padding: 3vh 3vw;
        margin: 2vh 1vw;
        border-radius: 4px;
        /* The switch - the box around the slider */
        /* Hide default HTML checkbox */
        /* The slider */
        /* Rounded sliders */ }
        * body main #main-div #second-form .cookie div,
        html body main #main-div #second-form .cookie div {
          width: 45vw; }
          * body main #main-div #second-form .cookie div h5,
          html body main #main-div #second-form .cookie div h5 {
            margin: 0; }
          * body main #main-div #second-form .cookie div span,
          html body main #main-div #second-form .cookie div span {
            font-size: 0.83333rem; }
        * body main #main-div #second-form .cookie .switch,
        html body main #main-div #second-form .cookie .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 28.33px;
          margin: 0 auto; }
        * body main #main-div #second-form .cookie .switch input,
        html body main #main-div #second-form .cookie .switch input {
          opacity: 0;
          width: 0;
          height: 0; }
        * body main #main-div #second-form .cookie .slider,
        html body main #main-div #second-form .cookie .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #b3b1b1;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        * body main #main-div #second-form .cookie .slider:before,
        html body main #main-div #second-form .cookie .slider:before {
          position: absolute;
          content: "";
          height: 21.66px;
          width: 21.66px;
          left: 3.63px;
          bottom: 3.63px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        * body main #main-div #second-form .cookie input:checked + .slider,
        html body main #main-div #second-form .cookie input:checked + .slider {
          background-color: #2196f3; }
        * body main #main-div #second-form .cookie input:focus + .slider,
        html body main #main-div #second-form .cookie input:focus + .slider {
          box-shadow: 0 0 1px #2196f3; }
        * body main #main-div #second-form .cookie input:checked + .slider:before,
        html body main #main-div #second-form .cookie input:checked + .slider:before {
          -webkit-transform: translateX(21.66px);
          -ms-transform: translateX(21.66px);
          transform: translateX(21.66px); }
        * body main #main-div #second-form .cookie .slider.round,
        html body main #main-div #second-form .cookie .slider.round {
          border-radius: 34px; }
        * body main #main-div #second-form .cookie .slider.round:before,
        html body main #main-div #second-form .cookie .slider.round:before {
          border-radius: 50%; }

/*# sourceMappingURL=Informations.css.map */
